<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UT-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="css/layout.css" >
        <link rel="shortcut icon" href="icon/layout.ico" type="image/x-icon">
        <title>Imaginario PICS [Mockup]</title>
    </head>
    <body>

        <div class="logo">
            <img class="logomove" src="img/logo.png" width="150px" alt="logo"> 
            <i>Imaginario PICS</i> 
        </div>
        
      <div class="container">
          <header class="fix">
            <form class="top1" action="#" method="post">
                <img id="ico" src="img/searchicon.png" width="15px" alt="icon"><input id="search" type="text" placeholder="Search.." name="search">
                <button id="btn" type="submit" value="Search">Enter</button>
              </form>
            <nav class="top2 line">
                <a href="#"><input class="top" type="button" value="Menu"></a>
                <a href="#"><input class="top " type="button" value="Perfil"></a>
                <a href="#"><input class="top " type="button" value="Setting"></a>
            </nav>
          </header>

          <main class="fix">
            <section>
                <p>
                    1ª Aliquam officia  Aliquam officia laudantium facilis quia fuga. laudantium facilis quia fuga.
                </p>
                <p>
                    2ª Aliquam officia laudantium  Aliquam officia laudantium facilis quia fuga. facilis quia fuga.
                </p>
                <p>
                    3ª Aliquam officia laudantium facilis quia fuga. Aliquam officia laudantium facilis quia fuga.
                </p>
                <p>
                    4ª Aliquam officia laudantium facilis quia fuga.. 3ª Aliquam officia laudantium facilis quia fuga.
                </p>
            </section>
           
            <div class="pic">
                <aside class="piceffect pic1 picon"><a href="https://picscheme.org/en/history" target="_blank" rel="external"><img src="img/pic 12.png" width="170px" alt="1st pic"></a></aside>
                <aside class="piceffect pic1 pic11 pictw"><a href="#"><img src="img/pic 12.png" width="170px" alt="2nd pic"></a></aside> <br>
                <aside class="piceffect pic2 picth"><a href="#"><img src="img/pic 12.png" width="170px" alt="3th pic"></a></aside>
                <aside class="piceffect pic2 pic11 picfo"><a href="#"><img src="img/pic 12.png" width="170px"  alt="4th pic"></a></aside>
            </div>
            
          </main>

          <footer class="fix">
            <div>
                <a class="bottom" href="#">About Us</a>
                <a class="bottom" href="#">Help</a>
                <a class="bottom" href="#">Contact Us</a>
                <a class="bottom" href="#">Social Media</a>
            </div>
          </footer>
      </div>
    </body>
</html>