*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    width: 800px;
    box-shadow: 1px 1px 5px;
    margin: auto;
    margin-top: 40px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.162);
}

main{
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

footer{
    text-align: center;
    width: 800px;
    box-shadow: 1px 1px 5px;
    margin: auto;
    margin-top: 40px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.162);
}













/* responsividade */

@media (max-width:800px){

    header{
        text-align: center;
        width: 600px;
        margin: auto;
        margin-top: 40px;
        padding: 5px;
        color: rgba(0, 0, 0, 0.454);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    }

    main{
        width: 600px;
        height: 550px;
        margin: auto;
        margin-top: 40px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    }

    footer{
        text-align: center;
        width: 600px;
        margin: auto;
        margin-top: 40px;
        padding: 10px;
        color: rgba(0, 0, 0, 0.454);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    }
}

@media (max-width:600px){

    header{
        text-align: center;
        width: 450px;
        margin: auto;
        margin-top: 40px;
        padding: 5px;
        color: rgba(0, 0, 0, 0.454);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    }

    main{
        width: 450px;
        height: 500px;
        margin: auto;
        margin-top: 40px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    }

    footer{
        text-align: center;
        width: 450px;
        margin: auto;
        margin-top: 40px;
        padding: 10px;
        color: rgba(0, 0, 0, 0.454);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    }
}