*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}


header{
    text-align: center;
    width: 800px;
    margin: auto;
    margin-top: 40px;
    padding: 5px;
    color: rgb(0, 0, 0);
    height: 220px;
}

#copy{
    color: rgb(0, 0, 0);
    max-width: 450px;
    text-align: justify;
    margin: auto;
}
#mail{
    margin-right: 10px;
    padding-right: 162px;
    
}

#btn{
    background-color: #FF160C;
    color: white;
}
#btn:active{
    box-shadow: 0px 0px 0px ; 
    border: 0.1px solid rgba(0, 0, 0, 0.141);
}


form{
    margin: 20px;
    position: relative;
    left: 5px;
}

.vsl{
    width: 500px;
    height: 400px;
    position:relative;
    left: 20%;
    top: 20px;

}

.mailbtn{
    padding: 7px 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.439);
    border: 0.5px;
}


main{
    width: 800px;
    height: 2413px;
    margin: auto;
}

.funnels_pages{
    text-align: center;
    margin-top: 40px;
    
}

.funnels{
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 7px ;
    width: 500px;
    margin-left: 20%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.439);
    border: 0.5px;
}
.funnels:active{
    box-shadow: 0px 0px 0px ; 
    border: 0.1px solid rgba(0, 0, 0, 0.141);
    
}

a{
    text-decoration: none;
    color: black;
    
}
.f1{
    background-color: #FF160C;
    height: 35px;
}
.copy2{
    color: #ffffff;
}

.f2{
    background-color: #7777771c;
    height: 35px;
}
.copy3{
    color:#ff140cc1;
}

.f3{
    background-color: #cfb53b;
    height: 35px;
}
.copy4{
    color:#ffffff;
}

footer{
    text-align: center;
    width: 800px;
    height: 370px;
    margin: auto;
    padding: 5px;
    color: rgba(0, 0, 0, 0.795);
    background-color: #777777a5;
    position: relative;

}

/* 
               Landing Page 
*/

.copi{
    max-width: 500px;
    margin: auto;
}

.hi{
    margin: auto;
    text-align:center;
    width: 400px;
    font-size: 50px;
    margin-top: 25px;
}

.content{
    border: 0px solid #00000057;
    margin-top: 100px;
}

.copybooster{
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.cta3{
    text-align: center;
    margin-top: 30px;
    color: #FF160C;
}

.vsl3{
     position: relative;
     top: 25px;
     left: 14.5%;
}

.ctanow{
    text-align: center;
    margin-top: 50px;
}

.ctabtn{
    margin: 30px;
}

.assinar{
    width: 500px;
    height: 50px;
    background-color:#FF160C;
    margin: auto;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.439);

}
.assinar:active{
    border: 1px solid rgba(0, 0, 0, 0.185);
    box-shadow: 0px 0px 0px black;
}

.comprar{
    width: 300px;
    background-color:#cfb53b;
    margin: auto;
    padding: 10px 10px;
    font-size: 15px;
    color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.439);
}
.comprar:active{
    border: 1px solid rgba(0, 0, 0, 0.182);
    box-shadow: 0px 0px 0px black;
}

.point{
    border: 1px solid black;
    height: 800px;
   
}

.copi2{
    text-align: center;
    width: 450px;
    margin: auto;
    position: relative;
    top: 70px;
}
.rated{
    width: 250px;
    margin-left: 33.5%;

}

.pr{
    background-color: 
    rgba(128, 128, 128, 0.543);
    width: 200px;
    height: 250px;
    display: inline-block;
    margin-left:45px;
    position: relative;
    bottom: 55px;
}

.of{
    position: absolute;
    top: 35%;
    left: 25%;
    text-align: center;
    width: 100px;
    color: rgba(255, 255, 255, 0.733);
    font-size: 1.8em;
}


.space{
    height: 950px;
    padding-top: 35px;
    background-color: #ff140c22;
    margin-top: 60px;
}

.copi3{
    text-align: center;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.761);
    width: 600px;
    margin: auto;
}

.ta1{
    width: 600px;
    height: 250px;
    background-color: #fff;
    margin: auto;
    margin-top: 40px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.439);
    border: 0.5px; 
    position: relative;
}

h3{
    text-align: center;
    padding: 20px;
}
li{
    margin: 20px 40px;
    
}

.bttn{
    position: absolute;
    bottom: 10px;
    left: 45%;
}
.chamada, h4{
    color: #fff;
    margin-top: 40px;
    font-size: 1.3em;
}
.click{
    font-weight: bold;
    margin: 
    50px;
}

.optin{
    height: 700px;
}





/* responsividade */

@media (max-width:800px){

    header{
        text-align: center;
        width: 600px;
        margin: auto;
        padding: 5px;
        color: rgb(0, 0, 0);
        
    }

    main{
        width: 600px;
        height: 2413px;
        margin: auto;
    }
    .vsl{
        width: 500px;
        height: 400px;
        position:relative;
        left: 10%;
        top: 20px;
    
    }
    .vsl3{
        position: relative;
        top: 25px;
        left: 3%;
   }

    .funnels{
        border: 1px solid black;
        margin-bottom: 15px;
        padding: 7px ;
        width: 500px;
        margin-left: 10%;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.439);
        border: 0.5px;
    }

    .pr{
        background-color: 
        rgba(128, 128, 128, 0.543);
        width: 185px;
        height: 250px;
        display: inline-block;
        margin-left:9px;
        position: relative;
        bottom: 55px;
    }

    .rated{
        width: 250px;
        margin-left: 29%;
    
    }

    .ta1{
        width: 500px;
        height: 250px;
        background-color: #fff;
        margin: auto;
        margin-top: 40px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.439);
        border: 0.5px; 
        position: relative;
    }
    .copi3{
        text-align: center;
        font-weight: 550;
        color: rgba(0, 0, 0, 0.761);
        width: 500px;
        margin: auto;
    }

    footer{
        text-align: center;
        width: 600px;
        margin: auto;
        padding: 10px;
        color: rgb(0, 0, 0)
        background-color: #777777a5;

    }
    .bttn{
        position: absolute;
        bottom: 10px;
        left: 43%;
    }
}

@media (max-width:600px){

    header{
        text-align: center;
        width: 450px;
        margin: auto;
        padding: 5px;
        color: rgb(0, 0, 0);

    }

    #mail{
        margin-right: 10px;
        padding-right: 60px;
    }
    
    #copy{
        color: rgb(0, 0, 0);
        max-width: 380px;
        text-align: justify;
        margin: auto;
    }

    .funnels{
        border: 1px solid black;
        margin-bottom: 15px;
        padding: 7px ;
        width: 420px;
        margin-left: 5%;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.439);
        border: 0.5px;
    }

    main{
        width: 450px;
        height: 2410px;;
        margin: auto;

    }
    .vsl{
        width: 420px;
        height: 350px;
        position:relative;
        left: 5%;
        top: 20px;
    
    }
    
    .vsl3{
        position: relative;
        top: 25px;
        left: 0%;
        width: 450px;
   }
   .assinar{
    width: 450px;
    height: 50px;
    background-color:#FF160C;
    margin: auto;
    padding: 15px 30px;
    font-weight: 580;
    font-size: 15px;
    color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.439);

}
.pr{
    background-color: 
    rgba(128, 128, 128, 0.543);
    width: 145px;
    height: 230px;
    display: inline-block;
    margin-left:1px;
    position: relative;
    bottom: 55px;
}

.rated{
    width: 250px;
    margin-left: 20%;

}
.of{
    position: absolute;
    top: 35%;
    left: 17%;
    text-align: center;
    width: 100px;
    color: rgba(255, 255, 255, 0.733);
    font-size: 1.8em;
}

.ta1{
    width: 350px;
    height: 250px;
    background-color: #fff;
    margin: auto;
    margin-top: 40px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.439);
    border: 0.5px; 
    position: relative;
}
.copi3{
    text-align: center;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.761);
    width: 400px;
    margin: auto;
}

    footer{
        text-align: center;
        width: 450px;
        margin: auto;
        padding: 10px;
        color: rgb(0, 0, 0);
        background-color: #777777a5;
    }
    .bttn{
        position: absolute;
        bottom: 2px;
        left: 41%;
    }
}

